body {
    font-size: 15px;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

@media (min-width: 900px) {
    .container {
        max-width: 1440px;
    }
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
}

.navbar-dark button:focus {
    outline: none;
}

.section-1-bg-img {
    background-image: url("../images/image-hero.jpg");
    min-height: 675px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.m-image {
    display: none;
}

@media only screen and (max-width: 767px) {
    .d-image {
        display: none;
    }
    .m-image {
        display: block;
        padding-bottom: 20px;
    }
    .section-1-bg-img {
        padding-left: 15px;
        padding-right: 15px;
    }
    .image-text {
        /* padding-left: 10px !important;
        padding-top: 30px !important;
        padding-bottom: 10px !important;
        padding-right: 10px !important;
        margin-left: 5px !important;
        margin-right: 5px; */
        position: absolute;
        left: 20%;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: hsl(0, 0%, 100%);
    }
    .heading-text {
        font-size: 35px !important;
    }
    /* .container {
        padding-left: 0px;
        padding-right: 0px;
    } */
    .section-2 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    .section-2-image {
        width: 100% !important;
        height: auto;
    }
    .section-2-row {
        padding-top: 40px !important;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-2-heading-text {
        padding-left: 0px !important;
        padding-top: 0px !important;
        font-size: 30px !important;
    }
    .section-2-paragraph {
        padding-left: 0px !important;
        padding-top: 0px !important;
        margin-top: 0px !important;
    }
    .section-3 {
        text-align: center;
    }
    .section-3-row {
        padding-bottom: 20px !important;
    }
    .section-3-heading {
        font-size: 30px !important;
    }
    .section-3-button {
        padding-left: 0px;
    }
    .section-4 {
        margin-bottom: 0px !important;
        justify-content: center;
        /* padding-right: 15px;
        padding-left: 15px; */
    }
    .section-5 {
        margin-bottom: 0px !important;
        justify-content: center;
    }
    .section-6-navbar {
        justify-content: center;
        padding-right: 0px;
    }
    .section-6-row {
        text-align: center;
        padding: 0 50px !important;
    }
    .section-7 {
        text-align: center !important;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        overflow-x: hidden;
        transition: 0.5s;
    }
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: hsl(0, 0%, 100%);
        display: block;
        transition: 0.3s;
    }
    .overlay a:hover, .overlay a:focus {
        color: hsl(0, 0%, 100%);
    }
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 900px) and (min-width: 767px) {
    .container {
        max-width: 900px;
        /* padding-right: 0px;
        padding-left: 0px; */
    }
    .section-2 {
        margin-top: 85px;
    }
    .section-2-row {
        padding-top: 30px !important;
        padding-right: 0px;
    }
    .section-2-heading-text {
        margin-top: 0px !important;
        padding-top: 26px !important;
        padding-left: 6px !important;
        font-size: 38px !important;
        padding-right: 10px;
    }
    .section-1-bg-img {
        padding-left: 15px;
        padding-right: 15px;
    }
    .section-2 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    .section-2-paragraph {
        padding-left: 10px !important;
        padding-top: 0px !important;
        line-height: 25px !important;
        padding-right: 30px !important;
    }
    .section-2-image {
        width: 100% !important;
        margin-left: 10px;
    }
    .section-3-heading {
        font-size: 38px !important;
    }
    .section-3-row {
        margin-left: 22px !important;
        margin-right: 30px !important;
    }
    .section-4 {
        margin-left: 10px !important;
        margin-right: 15px !important;
    }
    .section-4 .content {
        padding: 0px !important;
    }
    .section-4-text {
        font-size: 22px;
        padding-left: 5px !important;
    }
    .section-5 .content {
        padding: 0px !important;
    }
    .section-5 {
        margin-bottom: 60px !important;
        margin-left: 10px !important;
        margin-right: 15px !important;
    }
    .section-6-row {
        padding: 0 10px !important;
        padding-left: 15px !important;
    }
    .section-7 {
        padding-top: 25px !important;
    }
}

.navbar-expand-md {
    padding-top: 50px;
}

/* New CSS */

@media only screen and (max-width: 1200px) and (min-width: 900px) {
    .leader-header {
        font-size: 35px !important;
    }
    .overlay-text {
        top: 40%;
    }
    .section-4-text {
        padding-left: 0px !important;
        font-size: 22px !important;
    }
}

@media only screen and (max-width: 900px) and (min-width: 767px) {
    .leader-header {
        font-size: 25px !important;
    }
    .overlay-text {
        padding: 30px 0 0 30px !important;
        top: 30%;
    }
    .image-text {
        width: 82% !important;
    }
    .nav-item-2 {
        padding-right: 10px !important;
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {
    .container {
        max-width: 900px !important;
    }
    .leader-row {
        min-height: 250px !important;
        margin-bottom: 0px !important;
    }
    .leader-header {
        font-size: 15px !important;
    }
    .overlay-text {
        top: 37% !important;
        left: 38% !important;
        padding: 15px 0 0 15px !important;
    }
    .leader-descrption {
        font-size: 12px !important;
        line-height: 20px !important;
    }
    .section-4-text {
        font-size: 15px !important;
        padding-left: 0px !important;
    }
    .section-4 .col-sm-3,
    .section-5 .col-sm-3 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media (max-width: 576px) {
    .leader-header {
        font-size: 30px !important;
    }
    .leader-row{
        margin-bottom: 0px !important;
    }
    .overlay-text {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        text-align: center !important;
        padding: 20px 0 0 0px !important;
    }
    .section-4 .col-sm-3,
    .section-5 .col-sm-3{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .section-4-text{
        padding-left: 0px !important;
        font-size: 20px !important;
    }
    .heading-text {
        font-size: 25px !important;
    }
    .image-text {
        padding: 20px !important;
    }
}
.ov-img {
    max-width: 100%;
}

.leader-row {
    position: relative;
    min-height: 400px;
    margin-bottom: 100px;
}

.overlay-text {
    font-size: 30px;
    float: right;
    padding: 40px 0 0 40px;
    background: white;
    position: absolute;
    top: 42%;
    left: 5%;
}

.leader-header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 45px;
    font-weight: 300;
    text-transform: uppercase;
}

.leader-descrption {
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: hsl(0, 0%, 55%);
}

/* END new Css */

.navbar-brand {
    color: hsl(0, 0%, 100%);
    font-size: 30px;
}

.navbar-dark .navbar-nav .nav-link {
    color: hsl(0, 0%, 100%) !important;
}

.nav-link {
    color: hsl(0, 0%, 100%);
}

.nav-item {
    padding-left: 40px !important;
    padding-bottom: 5px;
}

.nav-item-2 {
    padding-right: 40px;
    padding-bottom: 5px;
}

.navbar-nav .nav-link:hover {
    border-bottom: 1px solid white;
    color: hsl(0, 0%, 100%);
}

.navbar-collapse {
    justify-content: flex-end;
}

.image-text {
    width: 57%;
    color: hsl(0, 0%, 100%);
    border: 2px solid;
    text-transform: uppercase;
    padding: 35px;
    margin-left: 15px;
    margin-top: 137px;
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
}

.heading-text {
    font-size: 74px;
    font-weight: 300 !important;
    line-height: 1.0;
}

.section-2 {
    margin-top: 170px;
    margin-bottom: 170px;
}

.section-2-row {
    padding-top: 174px;
}

.section-2-image {
    width: 135%;
}

.section-2-heading-text {
    text-transform: uppercase;
    font-size: 55px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    padding-top: 195px;
    padding-left: 105px;
    padding-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.section-2-paragraph {
    color: hsl(0, 0%, 55%);
    background-color: hsl(0, 0%, 100%);
    line-height: 30px;
    padding-left: 105px;
    margin-top: -10px;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.section-3 {
    padding-left: 0px;
    padding-right: 0px;
}

.section-3-row {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 64px;
}

.section-3-heading {
    font-size: 50px;
    text-transform: uppercase;
    color: hsl(0, 0%, 0%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.section-3-button {
    text-align: end;
    padding-right: 0px;
}

.btn-outline-dark {
    border-radius: 0px;
    padding-left: 50px;
    padding-right: 50px;
    color: hsl(0, 0%, 0%);
    border-color: hsl(0, 0%, 41%);
    text-transform: uppercase;
}

.btn-outline-dark:hover {
    color: hsl(0, 0%, 100%);
    background-color: black;
    box-shadow: none;
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus, 
.btn-outline-dark:not(:disabled):not(.disabled):active:focus, 
.show>.btn-outline-dark.dropdown-toggle:focus {
    box-shadow: none;
}

.section-4 {
    margin-bottom: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.col-sm-3 img {
    width: 100%;
    height: auto;
}

.section-4 .content {
    position: absolute;
    bottom: 0;
    color: hsl(0, 0%, 100%);
    padding: 20px;
    text-transform: uppercase;
}

.images-data:hover {
    opacity: 0.4;
    cursor: pointer;
}

.section-4-text {
    padding-left: 32px;
}

.section-5 {
    margin-bottom: 140px;
    font-family: 'Josefin Sans';
    font-weight: 300 !important;
}

.section-5 .content {
    position: absolute;
    bottom: 0;
    color: hsl(0, 0%, 100%);
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
}

.navbar-collapse-2 {
    justify-content: flex-start;
}

.section-6 {
    padding-left: 0px;
    padding-right: 0px;
}

.section-6-navbar {
    padding-top: 10px;
    padding-left: 0px;
}

.footer-color {
    background-color: black;
    color: hsl(0, 0%, 100%);
    padding-top: 30px;
    padding-bottom: 30px;
}

a:hover {
    color: hsl(0, 0%, 100%);
}

.section-6-row {
    margin-left: 0px;
    margin-right: 0px;
}

.section-6-logo {
    padding-left: 10px;
}

.section-7 {
    text-align: end;
    padding-top: 10px;
}

.fa:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.fa {
    font-size: 24px;
    margin-right: 10px;
}

.copyright {
    padding-top: 20px;
    color: hsl(0, 0%, 41%);
}